<ion-view mz-screen ng-style="emptyB==false && defaultBackground">
    <ion-nav-title ng-style="appHeaderText">{{ title | translate }}</ion-nav-title>
    <ion-nav-buttons side="left">
       	<button class="button button-icon button-clear ion-chevron-left" ng-click="goBack()">
      	</button>
    </ion-nav-buttons>
    <ion-content>
	    <div class="mainContainer" ng-show="entered">
	    	<div class="sectionTitle" ng-style="sectionTitle">
	    		<h3 ng-style="sectionTitleText">{{'contact_details' | translate}}</h3>
	    	</div>
			<div class="secondaryContainer animated fadeIn" ng-style="secondaryContainer">
				<div class="instContainer">
				<div  id="contact">
					<mz-template bind-to="data.address" screen-params="params" params="extraParams"
								 template-type="'@info'"></mz-template>
					<hr/>
					<mz-template bind-to="data.phone" screen-params="params" params="extraParams"
								 template-type="'@number'"></mz-template>
					<hr/>
					<mz-template bind-to="data.hours" screen-params="params" params="extraParams"
								 template-type="'@info'"></mz-template>
				</div>
				</div>
			</div>

			<div class="sectionTitle" ng-style="sectionTitle">
	    		<h3 ng-style="sectionTitleText">{{'contact_social_networks' | translate}}</h3>
	    	</div>
			<div class="secondaryContainer animated fadeIn social" ng-style="secondaryContainer">
				<div class="instContainer">
				<mz-template bind-to="data.social1" screen-params="params" params="extraParams"
							 template-type="'@info'"></mz-template>
				<hr/>
				<mz-template bind-to="data.social3" screen-params="params" params="extraParams"
							 template-type="'@info'"></mz-template>
				</div>
			</div>

			<h3  class="sectionTitle" ng-style="sectionTitle">{{'contact_info_page' | translate}}</h3>
			<div class="secondaryContainer animated fadeIn social" ng-style="secondaryContainer">
				<div class="instContainer">
				<mz-template bind-to="data.social2" screen-params="params" params="extraParams"
							 template-type="'@info'"></mz-template>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>