<ion-view mz-screen cache-view="false" hide-back-button="true" ng-style="emptyB==false && defaultBackground">
	<ion-nav-title ng-style="appHeaderText">{{params.title | translate }}</ion-nav-title>
    <ion-content>
    	
    	<div class="padding" id="welcomeMsg">
	        <b> <p class="text-right"  ng-style="commonTitle">{{'financial_summary_welcome' | translate }}: {{::data.user.title }} 
	        					  {{::data.user.firstName}} {{::data.user.lastName}} </p> </b>
	        <p class="text-right" ng-style="welcomeMessage">{{'financial_summary_last_connection' | translate}}: {{::data.user.lastSession.displayDate}} </p>
	        <p class="text-right" ng-if="data.user.lastSessionChannel" ng-style="welcomeMessage">
	        		{{'financial_summary_channel' | translate}}: {{data.user.lastSessionChannel}}  
	        </p>
	    </div>
	    
		<div class="mainContainer" ng-repeat="section in transformedData" ng-if="section.data && section.data.length>0">
			<div class="sectionTitle row" ng-style="sectionTitle">
				<!--img class="col-10 col-center" ng-src="{{params.sectionIcon}}"/-->
				<h3 class="col col-center" ng-style="sectionTitleText"> {{::section.displayName}} </h3>
			</div>
			<div class="secondaryContainer" ng-style="secondaryContainer">
				<div class="instContainer">
				<!-- instrument -->
				<div ng-repeat="instrument in section.data">
					<div class="row instrument" on-hold="goToInstrumentOptions(instrument, $event, $parent.$index)" 
						 ng-click="instrument.hasDetail && goToDetail(instrument)" ng-class="{'hasTotal' : params.showTotal}">

						<!-- first column: instrument icon -->
						<div class="col col-10 text-center col-center" ng-switch="instrument.category">
							<img ng-if='srcOk(customization.resources.summary.card_icon)' class="full-image" ng-src="{{customization.resources.summary.card_icon}}" on-error-src="{{params.cardIcon}}" ng-switch-when="creditCards"/>

       						<img ng-if='!srcOk(customization.resources.summary.card_icon)' class="full-image" ng-src="{{params.cardIcon}}"  ng-switch-when="creditCards"/>	

							<!-- Checking account -->
							<img ng-if='srcOk(customization.resources.summary.checking_icon)' class="full-image" ng-src="{{customization.resources.summary.checking_icon}}" on-error-src="{{params.checkingIcon}}" ng-switch-when="checkingAccounts"/>

       						<img ng-if='!srcOk(customization.resources.summary.checking_icon)' class="full-image" ng-src="{{params.checkingIcon}}" ng-switch-when="checkingAccounts"/>
       						
       						<!-- Saving accounts -->
							<img ng-if='srcOk(customization.resources.summary.saving_icon)' class="full-image" ng-src="{{customization.resources.summary.saving_icon}}" on-error-src="{{params.savingIcon}}" ng-switch-when="savingAccounts"/>

       						<img ng-if='!srcOk(customization.resources.summary.saving_icon)' class="full-image" ng-src="{{params.savingIcon}}" ng-switch-when="savingAccounts"/>       						
	 						<!-- Credits -->
 							<img ng-if='srcOk(customization.resources.summary.credit_icon)' class="full-image" ng-src="{{customization.resources.summary.credit_icon}}" on-error-src="{{params.creditIcon}}" ng-switch-when="credits"/>

       						 <img ng-if='!srcOk(customization.resources.summary.credit_icon)' class="full-image" ng-src="{{params.creditIcon}}" ng-switch-when="credits"/> 
       						 <!-- default -->
 							<img ng-if='srcOk(customization.resources.summary.default_icon)' class="full-image" ng-src="{{customization.resources.summary.default_icon}}" on-error-src="{{params.defaultIcon}}" ng-switch-default />

       						 <img ng-if='!srcOk(customization.resources.summary.default_icon)' class="full-image" ng-src="{{params.defaultIcon}}" ng-switch-default /> 
						</div>

						<!-- second column -->
						<p class="col col-33 col-center" ng-style="account"> 
							{{::instrument.name | limitTo:10}} {{::instrument.maskedAccountNumber | limitTo: -7}}
						</p>

						<!-- third column -->
						<div class="col col-50 col-center text-right">
							<p class="amount" 
								 ng-if="(instrument.category =='checkingAccounts' || 
												 instrument.category == 'savingAccounts'  || 
												 instrument.category =='creditCards') && 
												 (amount.currency == defaultCurrency) &&
												 (!instrument.customDisplayValue)" 
							   ng-repeat="amount in instrument.available" ng-style="accountAmount"> 

								{{::amount.displayAmount}}
								{{::instrument.customDisplayValue}}
							</p> 
							<p class="text-right" ng-if="instrument.category=='creditCards'" id="status" ng-style="commonText"> 
								({{'available' | translate}})
							</p>

							<!-- NUEVO -->
							<div ng-if="instrument.customDisplayValue.propertyType=='string'"> 
								<div class="row no-padding">
									<p class="col col-center text-right amount" ng-style="accountAmount"> 
										{{::instrument.customDisplayValue.stringValue}}
									</p>
								</div>
								<div class="row no-padding">
									<p class="col col-center text-right"> 
										{{::instrument.customDisplayValue.displayName}}
									</p>
								</div>
							</div>
							<div ng-if="instrument.customDisplayValue.propertyType=='balance'"> 
								<div class="row no-padding">
									<p class="col col-center text-right amount" ng-style="accountAmount"> 
										{{::instrument.customDisplayValue.balanceValue[0].displayAmount}}
									</p>
								</div>
								<div class="row no-padding">
									<p class="col col-center text-right"> 
										{{::instrument.customDisplayValue.balanceValue[0].displayName}}
									</p>
								</div>
							</div> 
						</div>

						<!-- fourth column: details arrow icon -->
						<div class="col col-center text-right text-center">
							<i class="icon {{arrow_summary}}" ng-if='srcOk(customization.style.icons.arrow_summary)' ng-show="instrument.hasDetail" ng-style="defaultColor"></i>
							<i class="icon {{params.arrow}}" ng-if='!srcOk(customization.style.icons.arrow_summary)'  ng-show="instrument.hasDetail" ng-style="defaultColor"></i>		
						</div>
					</div>
					<hr ng-if="$index<section.data.length-1"/>	
				</div>
				</div>
			</div>
				
				<!-- Accounts total amount -->
				<div style="margin-left: 10%;width:80%;" class="row instrument totalAmount" ng-if="section.total"  ng-style = "totalAmount">
					<div class="col col-90 text-center">
						<span id="label"  ng-style = "totalAmount">{{'total' | translate}}:</span> 
						<span class="amount"  ng-style = "totalAmount"> {{section.total.displayAmount}} </span>
					</div>
				</div>
		</div>

    </ion-content>
</ion-view>

<!--End of financial-summary.html -->