<ion-view cache-view="false" mz-screen ng-style="emptyB==false && defaultBackground">
    <ion-nav-title ng-style="appHeaderText">{{params.title | translate }}</ion-nav-title>
    <ion-content>

        <!-- SERVER RESOURCES -->

        <img ng-if='srcOk(customization.resources.transfers.transfer_progress_4)' class="full-image" ng-src="{{customization.resources.transfers.transfer_progress_4}}" on-error-src="{{params.progressResource}}" class="full-image padding" />

         <img ng-if='!srcOk(customization.resources.transfers.transfer_progress_4)' class="full-image" ng-src="{{params.progressResource}}" class="full-image padding" />

        <!-- DEFAULT RESOURCES
        <img ng-src="{{params.progressResource}}" class="full-image padding" />
        -->
        <div class="mainContainer">
            <div class="sectionTitle" ng-style="sectionTitle">
                <h3 ng-style="sectionTitleText">{{'transfer_confirm' | translate }}</h3>
            </div>
            <div class="secondaryContainer animated fadeIn" ng-style="secondaryContainer">
                <div class="instContainer">
                <div id="source">
                    <p class="subtitle" id="color" ng-style="commonTitle"> {{'transfer_confirm_source_instrument' | translate}} </p>
                    <p class="subtitle" id="color" ng-style="account">
                        {{::data.sourceInstrument.name}} {{::data.sourceInstrument.maskedAccountNumber | limitTo: -7}}
                    </p>
                    <hr/>
                </div>
                <div ng-repeat="section in data.transfers">
                    <p class="subtitle" id="color" ng-style="commonTitle">{{::section.displayName}}</p>
                    <div ng-repeat="transfer in section.data">
                        <p class="subtitle" ng-style="account"> 
                            {{::transfer.displayName}} {{::transfer.maskedAccountNumber | limitTo: -7}} 
                        </p>
                        <p class="subtitle" ng-if="transfer.conceptToDisplay" ng-style="commonText"> 
                            {{::transfer.conceptToDisplay}} 
                        </p>
                        <div class="row">
                            <p class="col col-50 col-center subtitle" ng-style="commonText"> {{'amount' | translate}} </p>
                            <h4 class="col col-50 col-center text-right amount" ng-style="accountAmount"> 
                                <span class="bs" ng-style="accountAmount">{{transfer.mainCurrency | translate}}</span>
                                <span class="bs" ng-style="accountAmount">{{transfer.currency | translate}}</span> 
                                {{transfer.amountToDisplay | balanceFormatter}}  
                            </h4>
                        </div>
                        <hr ng-if="$index < section.data.length - 1"/>
                    </div>
                    <hr ng-if="$index < data.transfers.length - 1"/>
                </div>
                </div>
            </div>
        </div>
        <div class="text-center padding-top">
            <button type="button" class="app-input button" ng-click="executeTransfers()"
                    ng-disabled="buttonDisabled" ng-style="button">
                <p ng-style="buttonText">{{'next' | translate}} </p>
            </button>
        </div>
    </ion-content>
</ion-view>