<ion-view cache-view="false" mz-screen ng-style="emptyB==false && defaultBackground">
  <ion-nav-title ng-style="appHeaderText">{{params.title | translate }}</ion-nav-title>
	<ion-header-bar align-title="center" class="bar bar-subheader" id="remaining"  style="background-color: transparent !important">
   		<div class="text-center" ng-repeat="available in sourceInstrument.available" 
   			 ng-if="available.currency == sourceInstrument.currency">
			<p class="color3 truncate" ng-style="defaultColor"> 
				{{::sourceInstrument.name}} {{::sourceInstrument.maskedAccountNumber | limitTo: -7}} 
			</p>
			<p class="color3" ng-style="defaultColor"> {{::available.displayAmount}} </p>
   		</div>
    </ion-header-bar>
	<ion-content>
		 <!-- SERVER RESOURCES -->

        <img ng-if='srcOk(customization.resources.transfers.transfer_progress_3)' class="full-image" ng-src="{{customization.resources.transfers.transfer_progress_3}}" on-error-src="{{params.progressResource}}" class="full-image padding" />

         <img ng-if='!srcOk(customization.resources.transfers.transfer_progress_3)' class="full-image" ng-src="{{params.progressResource}}" class="full-image padding" />

        <!-- DEFAULT RESOURCES
        <img ng-src="{{params.progressResource}}" class="full-image padding" />
		-->
		<div class="mainContainer" ng-repeat="section in sections"> 
			<div class="sectionTitle" ng-style="sectionTitle">
				<h3 ng-style="sectionTitleText"> {{::section.displayName}} </h3>
			</div>
			<div class="secondaryContainer schemaForm" ng-style="secondaryContainer">
				<div ng-repeat="transfer in section.data">
					<p class="subtitle" id="color" ng-if="transfer.displayName || transfer.maskedAccountNumber" ng-style="commonTitle"> 
						{{::transfer.displayName}} {{::transfer.maskedAccountNumber | limitTo:-7}}
					</p>
					<form ng-init="forms[$parent.$index][$index]=transfer.schema.name" 
						  name="forms[$parent.$index][$index]"
						  sf-schema="transfer.schema.schema" 
				     	  sf-model="transfer.schema.model" 
						  sf-form="transfer.schema.form"
						  sf-options="formDefaultOptions"
						  autocomplete="off">
					</form>
				</div>
			</div>
		</div>
		<div class="text-center padding">
			<button type="submit" class="app-input button" ng-click="onSubmit()" ng-style="button">
				<p ng-style="buttonText">{{'next' | translate}} </p>
			</button>
		</div>
	</ion-content>
</ion-view>  

<!--End of transfer-amount.html -->